:root {
  --blue-500-o: #3b83f64f;
  --sky-800-o: #0759858f;
  --emerald-900-o: #064e3b6b;
  --red-900-o: #7f1d1d79;
}

body {
  background-color: var(--cool-gray-900);
  /* font-family: "Noto Sans Mono", sans-serif; */
  color: var(--emerald-400);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--emerald-400);
}

.money-dingbat {

  color:var(--green-400)
  
}


.btn,
.a-btn {
  
  background-color: var(--teal-700);
  color: var(--amber-50);
}


.btn-in {
background-color: var(--emerald-900-o);
color: var(--emerald-200);
}

.btn-manage {
  background-color: var(--blue-500-o);
  color: var(--blue-200);
}

.btn-out {
  background-color: var(--red-900-o);
  color: var(--red-200);
}


.register-card {
  background-color: var(--sky-800-o);
  color: var(--sky-200);
}

input, textarea {
  background-color: var(--sky-800-o);
  color: var(--sky-200);
}