/* Tiki, Nostalgia, Pleasure seeking */

:root {
  --blue-500-o: #3b83f67a;
  --sky-800-o: #075985ad;
  --emerald-900-o: #064e3ba2;
  --red-900-o: #7f1d1da2;
  --red-400-o: #f8717131;
  --indigo-800-o: #3830a38f;
}

body {
    background-color: var(--blue-gray-700);
    color: var(--red-900);
  }


  h1, h2, h3, h4, h5, h6, p {
    background-color: var(--red-400-o);
    color: var(--red-900);
  }
  
.watermark-logo {
  opacity: .7;
}

  .watermark-logo h1{
    background-color: unset;
    opacity: .8;
  }


  .watermark-logo p {
    font-size: .8rem;
  }

  .money-dingbat {
  
    color:var(--red-400)
    
  }

  .nav-item {
    background-color: var(--red-400-o);
    padding: 0 1rem;
  }
  
  
  
  .btn-in {
  background-color: var(--indigo-800-o);
  color: var(--emerald-100);
  }
  
  .btn-manage {
    background-color: var(--blue-500-o);
    color: var(--blue-100);
  }
  
  .btn-out {
    background-color: var(--red-900-o);
    color: var(--red-100);
  }
  
  
  .register-card {
    background-color:var(--red-400-o);
    color: var(--red-900);
  }
  
  input, textarea {
    background-color:var(--red-400-o);
    color: var(--red-900);
  }

  ::placeholder {
    color: var(--red-900);
    opacity: .8;
  }

  .flashes {
    background-color:var(--red-400-o);
    color: var(--red-900);
  }