/* STYLESHEET FOR THE "LIGHT" USER THEME SETTING */

/* customised tw-colours from tw-colours stylesheet */

:root {
  --blue-500-o: #3b83f67a;
  --sky-800-o: #075985ad;
  --emerald-900-o: #064e3ba2;
  --red-900-o: #cc3030a2;
  --red-400-o: #f8717131;
  --indigo-800-o: #453db48f;
}

body {
    background-color: var(--blue-gray-700);
    color: var(--red-900);
  }

  h1, h2, h3, h4, h5, h6, p {
    background-color: var(--red-400-o);
    color: var(--red-900);
  }

  p {
    font-weight: bold;
  }

/* due to contrast issues, adapt the watermark to stand out a bit better */
  
.watermark-logo {
  opacity: .7;
}

.watermark-logo h1 {
  background-color: unset;
  opacity: .8;
}

.watermark-logo p {
  background-color: unset;
}

.money-dingbat { 
  color:var(--red-400)    
}

/* due to contrast issues, a bit of bg colour and padding added to nav items */

.nav-item {
  background-color: var(--red-400-o);
  padding: 0 1rem;
}
  
/* button colour styles */

.btn-in {
background-color: var(--indigo-800-o);
color: var(--emerald-100);
}

.btn-manage {
  background-color: var(--blue-500-o);
  color: var(--blue-100);
}

.btn-out {
  background-color: var(--red-900-o);
  color: var(--red-100);
}
  
/* colour styles for the card template used throughout */
.register-card {
  background-color:var(--red-400-o);
  color: var(--red-900);
}


/* colour styles for the input and textarea elements */
input, textarea {
  background-color:var(--red-400-o);
  color: var(--red-900);
}

/* makes the placeholder text much more visible  */

::placeholder {
  color: var(--red-900);
  opacity: .8;
}

/* makes the flashes more appealing and visible */

.flashes {
  background-color:var(--red-400-o);
  color: var(--red-900);
}