/* Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: 'money_money_moneyregular';
    src: url('../fonts/money_money_money-webfont.woff2') format('woff2'),
         url('../fonts/money_money_money-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-image: url("../img/sheikh-bg.png"), url("../img/arab_tile_5opacity.png");
    background-size: 50vw, initial;
    background-position-x:center;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}



img {
    width: 100%;
}

a {
    transition: all 300ms ease-in-out;
    text-decoration: none;
}

a:hover {
    opacity: .7;
    text-decoration: none;

}

.watermark-logo {
    font-size: 2rem;
    position: fixed;
    right: 5vw;
    top: 40vh;
    margin-left: auto;
    text-align: right;
    opacity: .3;
}

.watermark-logo p {
    font-size: .8rem;
}


@media (max-width:450px) {
    .watermark-logo {
        display:none;
    }
}


/* Header Styles */

.money-dingbat {
    font-family: "money_money_moneyregular";
    font-size: 5rem;
    margin-left: 1rem;
    text-decoration: none;
}

.to-dashboard {
    font-family: "Lato", sans-serif;
    font-size: .8rem;
    opacity: .5;
    
}

.header-flex-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-flex-parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 1rem;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 450px) {
    header {
        font-size: .8rem;
    }
}
/* Registration form */

.login-or-registered {
    margin-top: 1rem;
    opacity: .5;
    font-size: .8rem;
}

.register-card {
    
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    font-size: .8rem;;
}

.register-card button {
    width: unset;
}

input {
    font-family: inherit;
    padding: .3rem;
    border: unset;
    width: 100%;
    opacity: .8;
}


.btn {
    width: 300px;
    font-family: inherit;
    border-radius: unset;
    border: unset;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: .5rem 2rem;
    margin-top: 1rem;

}


.a-btn {    
    width: 300px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: .5rem 2rem;
    margin-top: 1rem;

}




.btn-in {
    font-family: inherit;
    font-style: inherit;
    padding: .5rem 2.5rem;
    transition: all 300ms ease-in-out;
}


.form-left {
    margin-top: 1rem;
    align-items: flex-start;
}




textarea {
    resize: none;
    width: 300px;
    
}

@media (max-width: 370px) {
    .btn, .a-btn {
        width: 260px;
    }

    textarea {
        width: 260px;
    }
}



.btn:hover,
.a-btn:hover {
    opacity: .7;
    cursor: pointer;
}

.history-flex-primary {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.history-child-right {
    opacity: .6;
    font-size: .8rem;
}

.history-child-left i {
    font-size: 2rem;
}
.wish {
    margin: 1rem;
}

.flashes {
    
    font-size: 2rem;
    text-align: left;
}

@media (max-width: 450px) {
    .flashes {
        text-align: center;
    }
}

.reward-image {
    max-width: 100%;
}