/* Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap");
@font-face {
    font-family: 'money_money_moneyregular';
    src: url('../fonts/money_money_money-webfont.woff2') format('woff2'),
         url('../fonts/money_money_money-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root {
    --money-green: rgb(24, 126, 24);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  /* background-color: #111; */
  /* background-color: var(--cool-gray-900); */
  font-family: "Noto Sans Mono", sans-serif;
  /* color: var(--emerald-400); */
}

img {
    width: 100%;
}

a {
    transition: all 300ms ease-in-out;
}

a:hover {
    opacity: .7;
}

/* Header Styles */

.money-dingbat {
    font-family: "money_money_moneyregular";
    font-size: 5rem;
    color:rgb(24, 126, 24);
    margin-left: 1rem;
}

.header-flex-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-flex-parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 1rem;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}


/* Registration form */

.register-card {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    width: 500px;
    margin: 0 auto;
    font-size: .8rem;;
}

input {
    font-family: inherit;
    padding: .3rem;
    border: unset;
}

.submit-btn {
    width: 100%;
    font-family: inherit;
    font-style: inherit;
    padding: .5rem 2.5rem;
    background-color: rgb(24, 126, 24);
    border: unset;
    transition: all 300ms ease-in-out;
}

.submit-btn:hover {
    opacity: .7;
    cursor: pointer;
}

.btn {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: .5rem 2rem;
    margin: 1rem;
    background-color: white;
    color: black;
}

.wish {
    margin: 1rem;
}