/* BASE CUSTOM STYLESHEET FOR THE APP */

/* font imports first Lato and then a custom dingbat font */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: 'money_money_moneyregular';
    src: url('../fonts/money_money_money-webfont.woff2') format('woff2'),
            url('../fonts/money_money_money-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* reset margin and paddings on elements and fix box sizing */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* add the background image and background tiling, set the font */

body {
    padding: 2rem;
    background-image: url("../img/sheikh-bg.png"), url("../img/arab_tile_5opacity.png");
    background-size: 50vw, initial;
    background-position-x:center;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
}

/* some basic global settings for "img" and "a" elements */

img {
    width: 100%;
}

a {
    transition: all 300ms ease-in-out;
    text-decoration: none;
}

a:hover {
    opacity: .7;
    text-decoration: none;

}

/* different text size classes */

.text-large {
    font-size: 2rem;
}

.text-medium {
    font-size: 1.5rem;
}

.text-small {
    font-size: 1rem;
}

/* styling for the watermark logo */

.watermark-logo {
    font-size: 2rem;
    position: fixed;
    right: 2vw;
    top: 40vh;
    margin-left: auto;
    text-align: right;
    opacity: .3;
}

.watermark-logo p {
    font-size: .7rem;
}

/* media queries in this project are kept close to related elements for better readability */

@media (max-width:450px) {
    .watermark-logo {
        font-size: .4rem;
        top: 0;
        margin: 0 auto;
        text-align: left;
        opacity: .1;
    }

    .watermark-logo p {
        display: none;
    }
}


/* header, styling the dingbat dashboard links etc as well as layout basics */

.money-dingbat {
    font-family: "money_money_moneyregular";
    font-size: 5rem;
    margin-left: 1rem;
    text-decoration: none;
}

.to-dashboard {
    font-family: "Lato", sans-serif;
    font-size: .8rem;
    opacity: .5;
    
}

/* flex parent for the header */

.header-flex-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* flex parent for the navigation */

.nav-flex-parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* styling for the nav items and links */

.nav-item {
    list-style: none;
    margin-right: 1rem;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 450px) {
    header {
        font-size: .8rem;
    }
}

/* styling for muted "already a member?" queries */

.login-or-registered {
    margin-top: 1rem;
    opacity: .5;
    font-size: .8rem;
}

/* used throughout the project for forms as well */

.register-card {
    
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    font-size: .8rem;;
}

/* unsetting the width added some visual hierarchy to an inner button */

.register-card button {
    width: unset;
}

/* styling the input fields */

input {
    font-family: inherit;
    padding: .3rem;
    border: unset;
    width: 100%;
    opacity: .8;
}

/* styling a global button for all buttons to inherit from */

.btn {
    width: 300px;
    font-family: inherit;
    border-radius: unset;
    border: unset;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: .5rem 2rem;
    margin-top: 1rem;
}

/* styling the "a" link buttons to match regular buttons, also to inherit from */

.a-btn {    
    width: 300px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: .5rem 2rem;
    margin-top: 1rem;
}

/* styles some elements that wouldn't flow well on the left side of the page */

.form-left {
    margin-top: 1rem;
    align-items: flex-start;
}

/* textarea size and resizing options set */

textarea {
    resize: none;
    width: 300px;
}

@media (max-width: 370px) {
    .btn, .a-btn {
        width: 260px;
    }

    textarea {
        width: 260px;
    }
}

/* some global hover settings for the buttons */

.btn:hover,
.a-btn:hover {
    opacity: .7;
    cursor: pointer;
}

/* main flex parent for the history page */

.history-flex-primary {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* some stylistic muting for the right child of history page */

.history-child-right {
    opacity: .6;
    font-size: .8rem;
}

/* larger font to add some hierarchy to the icons in the left child of the history page */

.history-child-left i {
    font-size: 2rem;
}

/* style the flashes Flask sends back */

.flashes {    
    font-size: 2rem;
    text-align: left;
}

@media (max-width: 450px) {
    .flashes {
        text-align: center;
    }
}

/* ennsure the reward image is a good size */

.reward-image {
    max-width: 100%;
}