{% extends "base.html" %}
{% block content %}

<h2 class="underline">Add New Invoice/Income</h2>

<p>If income is not via an invoice, leave the relevant fields blank. Only "amount" is required.</p>

<!-- form to add new income/invoice -->

<form action="{{url_for('add_invoice')}}" method="POST">
      <div class="register-card">
        <label for="invoice_date">Date</label>
        <input type="text" name="invoice_date" id="invoice_date" placeholder="dd-mm-yyyy" default="N/a">
        <label for="invoice_number">Invoice Number</label>
        <input type="text" name="invoice_number" id="invoice_number" placeholder="e.g. INV-4566">
        <label for="invoice_recipient">Invoice Recipient</label>
        <input type="text" name="invoice_recipient" id="invoice_recipient" placeholder="e.g. Lux Imports">
        <label for="amount_invoiced">Amount (including tax)</label>
        <input type="number" name="amount_invoiced" id="amount_invoiced" pattern="[0-9]+"  step="0.01" title="Please input numbers only." required>
        <div class="check-flex" style="display: flex; justify-content: space-between;align-items: center;">
          <label for="tax">Check to set tax aside--> </label>
          <input type="checkbox" name="tax" id="tax" checked="checked">
        </div>
        <label for="comments">Comments</label>
        <textarea name="comments" id="comments" cols="30" rows="10"></textarea>
        <button type="submit" class="btn btn-in">Add Invoice</button>
      </div>
</form>

<!-- returns back to the invoices page -->

<a href="{{url_for('invoice')}}" class="a-btn btn-in">Back To Invoices</a>

{% endblock %}
