{% extends "base.html" %}
{% block content %}

<h2>Add Expense</h2>

<!-- form for adding an expense -->

<form action="{{url_for('add_expense')}} " method="POST">
    <div class="register-card">
        <label for="invoice_date">Date</label>
        <input type="text" name="invoice_date" id="invoice_date" placeholder="dd-mm-yyyy">
        <div class="radio-buttons" style="display: flex;">
            <label for="overheads" style="margin:1rem;">Overheads</label><br>
            <input type="radio" id="overheads" name="type" value="Overheads" checked="checked" style="margin:1rem;"required>
            <label for="extras" style="margin:1rem;">Extras</label><br>
            <input type="radio" id="extras" name="type" value="Extras" style="margin:1rem;"required>
        </div>
        <label for="recipient">Recipient</label>
        <input type="text" name="recipient" id="recipient" placeholder="e.g. FineFoods">
        <label for="amount_spent">Amount</label>
        <input type="number" name="amount_spent" id="amount_spent" pattern="[0-9]+" step="0.01"
            title="Please input numbers only." required>
        <label for="comments">Comments</label>
        <textarea name="comments" id="comments" cols="30" rows="10"></textarea>
        <button type="submit" class="btn btn-manage">Add Expense</button>
    </div>
</form>

<!-- link returns to the "expenses" overview -->

<a href="{{ url_for('expenses') }}" class="a-btn btn-out">Back To Expenses</a>


{% endblock %}
