<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tw-colours.css')}}">
    
    <link rel="stylesheet" href="{{url_for('static',
    filename='css/style.css')}}">
    {% if session['theme'] == "dark" or not session['theme'] %}
    <link rel="stylesheet" href="{{url_for('static',
    filename='css/dark_style.css')}}">
    {% else %}
    <link rel="stylesheet" href="{{url_for('static',
    filename='css/light_style.css')}}">
    {% endif %}
    
    <title>The Money Manager</title>
  </head>
  <body>
    <div class="watermark-logo">
      <h1>Munificent</h1>
      <p>Sheikh Salman Bin Isa's Most Excellent And Beneficial Money Manager</p>
    </div>
    <header class="header-flex-parent">
     
      {% if session['user'] %}
          {% if request.path != "/profile/" %}
          <a href="{{url_for('profile', username=session['user'])}}" class="money-dingbat">f<span class="to-dashboard">To Dashboard</span></a>
          {% else %}
          <a href="{{url_for('index', username=session['user'])}}" class="money-dingbat">f<span class="to-dashboard">To Abridged View</span></a>
          {% endif %}
      
      {% else %}
      <a href="{{ url_for('login') }}" class="money-dingbat">f</a>
      
      {% endif %}
      <nav>
        <ul class="nav-flex-parent">
          <!-- <li class="nav-item"><a href="{{ url_for('index')}}" class="nav-link">Home</a></li> -->

          {% if session["user"] %}
          <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">Log Out</a></li>
          {% else %}

          <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link">Log In</a></li>
          <li class="nav-item"><a href="{{ url_for('register') }}" class="nav-link">Register</a></li>
          {% endif %}
          {% if session['user'] == "admin" %}
          <li class="nav-item"><a href="{{ url_for('admin')}}" class="nav-link">Admin</a></li>
          {% endif %}
          
        </ul>
      </nav>
    </header>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="flashes">
            <h4>{{ message | title}}</h4>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
    {% if session["user"] %}
    <a href="{{url_for('settings')}}" class="a-btn btn-in">Settings</a>
    {% endif %}
  </body>
</html>
