{% extends "base.html" %}

{% block content%}
<h1>EDIT WISH</h1>

<form action="{{ url_for('edit_wish', wish=wish._id) }}" method="POST">
    <div class="register-card">
        <h2>Edit Wish</h2>
        <label for="wish_name">Item Name</label>
        <input type="text" name="wish_name" id="wish_name" pattern="^[a-zA-Z0-9]{1-50}$" value="{{wish.wish_name | title}}">
        <label for="wish_cost">Cost of Wished For Item</label>
        <input type="number" name="wish_cost" id="wish_cost" pattern="[0-9]+" step="0.01" title="Please input numbers only." value="{{wish.wish_cost / 100}}">
        <label for="wish_description">Description Of Wish</label>
        <textarea name="wish_description"id="wish_description">{{wish.wish_description}}</textarea>
        
        
        <button type="submit" class="btn btn-manage">Save Changes</button>

    </div>
    </form>

{% endblock %}

