{% extends "base.html" %}
{% block content %}
<h2>Edit Expense</h2>

<form action="{{url_for('edit_expense', expense_id=expense._id)}}" method="POST">
    <div class="register-card">
        <label for="invoice_date">Date</label>
        <input type="text" name="invoice_date" id="invoice_date" value="{{ expense.date }}">




        <div class="radio-buttons" style="display: flex;">
            <label for="overheads" style="margin:1rem;">Overheads</label><br>
                {% if expense.type == "Overheads" %}
            <input type="radio" id="overheads" name="type" checked="checked" value="Overheads" style="margin:1rem;"required>
                {% else %}
            <input type="radio" id="overheads" name="type" style="margin:1rem;"required>
                {% endif %}
            <label for="extras" style="margin:1rem;">Extras</label><br>
                {% if expense.type == "Extras" %}
            <input type="radio" id="extras" name="type"  checked="checked"  value="Extras" style="margin:1rem;"required>
                {% else %}
            <input type="radio" id="extras" name="type"style="margin:1rem;"required>
                {% endif %}
            
        </div>

        <label for="recipient">Recipient</label>
        <input type="text" name="recipient" id="recipient" value="{{ expense.recipient }}">
        <label for="amount_spent">Amount</label>
        <input type="number" name="amount_spent" id="amount_spent" pattern="[0-9]+" value="{{ expense.amount / 100 }}" step="0.01" title="Please input numbers only." required>
        <label for="comments">Comments</label>
        <textarea name="comments" id="comments" cols="30" rows="10">{{ expense.comments }}</textarea>
        <button type="submit" class="btn btn-manage">Save Changes</button>
    </div>
</form>



<a href="{{ url_for('expenses') }}" class="a-btn btn-out">Back To Expenses</a>

{% endblock %}
