{% extends "base.html" %}
{% block content %}

<h2 class="underline">End Your Tax Period</h2>

<p class="text-medium">Deductibles Calculator</p>

<p class="text-small">Have a receipt without a stated tax amount? Enter the total below and we will calculate it for you.</p>

<!-- form to calculate tax and income from a single aggregated amount -->

<form action="{{ url_for('calculator') }}" method="POST">
    <label for="calculator">Input the total including tax (calculating at {{ session['tax_rate'] -100 }}%):</label>
    <input type="number" name="calculator" id="calculator" pattern="[0-9]+" step="0.01">
    <button type="submit" class="btn btn-manage">Calculate Tax</button>
</form>

<!-- if there is a result from the backend, the figures will show -->

{% if tax %}

    <p class="text-medium">Tax you can claim on this amount: {{ tax | round }}</p>
    <p class="text-medium">Cost without tax: {{ income | round }}</p>
{% endif %}

<!-- form to end the tax period -->

<form action="{{url_for('end_tax')}}" method="POST">
    <label for="confirm_tax_end">Check the box if you are sure you want to end the tax period.</label>
    <input type="checkbox" name="confirm_tax_end" id="confirm_tax_end">
    <button type="submit" class="btn btn-in">End Your Tax Period</button>
</form>

{% endblock %}