{% extends "base.html" %}
{% block content %}
<h2>Expenses page</h2>
<a href="{{ url_for('add_expense') }}" class="btn btn-out">Add Outgoing Expense</a>

<div class="register-card">
    <h2>Expenses this month</h2>
    {% for expense in expenses %}

            <p>{{ expense.date }}</p>
            <p>{{ expense.type }}</p>
            <h2>{{ expense.recipient }}</h2>
            <h2>{{ expense.amount / 100}}</h2>


            <form action="{{ url_for('edit_expense', expense_id=expense._id) }}" method="GET">
                <button type="submit">Modify</button>
            </form>
            <form action="{{ url_for('delete_expense', expense_id=expense._id) }}" method="POST">
                <button type="submit">Delete</button>
            </form>

    {% endfor %}
</div>
{% endblock %}
