{% extends "base.html" %}
{% block content %}

<!-- sends the user to the "add expense" page -->

<a href="{{ url_for('add_expense') }}" class="a-btn btn-out btn-center">Add Outgoing Expense</a>

<h2 class="underline">Expenses page</h2>
<br><br>
<!-- displays all expense entries -->

<div class="register-card">
    <p class="text-medium">Expenses this month</p>
    {% for expense in expenses | reverse %}

            <p>Added on: {{ expense.date }}</p>
            <p>{{ expense.type }}</p>
            <h2>{{ expense.recipient }}</h2>
            <h2>EU {{ expense.amount / 100}}</h2>
            <p>{{ expense.comments }}</p>

<!-- conditional checks entries to ensure only current month entries are editable -->

            {% if expense.datestamp == this_month %}
            <form action="{{ url_for('edit_expense', expense_id=expense._id) }}" method="GET">
                <button type="submit" class="btn btn-manage">Modify</button>
            </form>
            <form action="{{ url_for('delete_expense', expense_id=expense._id) }}" method="GET">
                <button type="submit" class="btn btn-out">Delete</button>
            </form>
            {% else %}
            <p><em>This entry can no longer be modified or deleted</em></p>
            {% endif %}

    {% endfor %}
    
</div>

{% endblock %}
