{% extends "base.html" %} {% block content %}

<!-- shows an abridged view of the users finances -->

<h2 class="underline">Quick View</h2>

<p class="text-medium">{{money.name | title }}'s Money</p>

<p class="text-medium">Credit: {{ money.credit / 100}} </p>

<p class="text-large">Disposable Income: {{ money.disposable_income / 100 }}</p>

{% if money.overheads_to_be_paid >= 0 %}
    <p class="text-medium">Overheads To Be Paid : {{ money.overheads_to_be_paid }}</p>
    {% else %}
    <p class="text-medium">Overheads For This Month Are Paid</p>
    {% endif %}
    {% if money.user_notes %}
    <p class="index-notes">"{{ money.user_notes }}"</p>
{% endif %}

{% endblock %}
