{% extends "base.html" %}

{% block content%}

<h3>Log In</h3>


<form action="{{url_for('login') }}" method="POST">
    <div class="register-card">
        <label for="name">Name</label>
        <input type="text" name="name" id="name"pattern="^[a-zA-Z0-9]{5-15}$" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"pattern="^[a-zA-Z0-9]{5-15}$" required>
        <button type="submit" class="btn btn-in">Login</button>

    </div>
</form>

<a href="{{url_for('register')}}" class="a-btn btn-in">Need an account, Hajji? Register</a>

{% endblock %}

