{% extends "base.html" %}

{% block content%}

<h3>Log In</h3>

<!-- form to log in -->

<form action="{{url_for('login') }}" method="POST">
    <div class="register-card">
        <label for="name">Name</label>
        <input type="text" name="name" id="name"pattern="^[a-zA-Z0-9]{5-15}$" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"pattern="^[a-zA-Z0-9]{5-15}$" required>
        <button type="submit" class="btn btn-in">Login</button>

    </div>

</form>

<!-- if user needs an account, handy link to register -->

<p class="login-or-registered">Need an account?</p>

<a href="{{url_for('register')}}" class="a-btn btn-in">Register Here.</a>

{% endblock %}

