{% extends "base.html" %}

{% block content%}

<!-- main dashboard overview -->

<h2>Dashboard</h2>

<p class="text-medium">{{ money.name | title}}'s Money</p>

<p class="text-large">Credit: {{ money.credit / 100}}</p>

<!-- conditionals that avoid negative numbers when inappropriate -->

{% if money.overheads_to_be_paid > 0 %}
    <p class="text-medium">Overheads to be paid this month: {{money.overheads_to_be_paid / 100 }} left to pay of {{money.user_overheads / 100}}</p>
    {% else %}
    <p class="text-medium">Overheads for this month are paid.</p> 
{% endif %}

{% if money. disposable_income > 0 %}
<p class="text-medium">Disposable Income: {{money.disposable_income / 100}}</p>
{% else %}
<p class="text-medium">Disposable Income: 0 ({{ money.disposable_income /100 * -1}} in overheads and taxes to pay)</p>
{% endif %}

{% if money.income_this_month > 0 %}
<p class="text-medium">Income this month: {{money.income_this_month / 100}}</p>
{% else %}
<p class="text-medium">Income this month: 0</p>
{% endif %}

{% if money.tax_to_set_aside > 0 %}
<p class="text-medium">Tax to set aside: {{money.tax_to_set_aside / 100}}</p>
{% else %}
<p class="text-medium">No tax to set aside.</p>
{% endif %}

<p class="text-medium">Suggested savings amount: {{money.suggested_savings_amount / 100}}</p>

<p class="text-small">Total amount spent this month: {{money.spent_this_month / 100}}</p>

<p class="text-small">Amount spent on overheads: {{money.spent_on_overheads / 100}}</p>

<p class="text-small">Amount spent on extras: {{money.spent_on_extras / 100}}</p>

<!-- conditional that checks if a note is saved then either creates or edits a note -->

{% if money.user_notes != '' %}
    <p>User notes : </p>
    <div>
        <p class="profile-notes">"{{ money.user_notes }}"</p>
    </div>
    <form action="{{ url_for('edit_note') }}" method="GET">
        <button type="submit" class="btn btn-manage">Edit Note</button>
    </form>
    {% else %}
    <form action="{{ url_for('create_note') }}" method="POST" class="form-left">
        <label for="create_note">Create A Note: </label>
        <textarea name="create_note" id="create_note" cols="30" rows="10" class="textarea-left" placeholder="Write yourself any useful information about bills you have to pay, invoice due dates etc. Then click 'Create Note' below."></textarea>
        <button type="submit" class="btn btn-manage">Create Note</button>
    </form>
{% endif %}

<!-- buttons for invoice/income, expenses, history, end tax period, wishlist, reward -->

<a href="{{url_for('invoice')}}" class="a-btn btn-in">Manage Invoices/Income</a>

<a href="{{ url_for('expenses')}} "class="a-btn btn-out">Manage Expenses</a>

<a href="{{ url_for('user_history')}} "class="a-btn btn-manage">User History</a>

<a href="{{ url_for('end_tax')}} "class="a-btn btn-manage">End Your Tax Period</a>

<a href="{{ url_for('wishlist')}}" class="a-btn btn-manage">Wishlist</a>

<a href="{{ url_for('reward') }}"class="a-btn btn-manage">Reward</a>

{% endblock %}

