{% extends "base.html" %}

{% block content%}

<h2>{{ money.name | title}}'s Money</h2>

<h1>Credit: {{ money.credit / 100}}</h1>
{% if money.overheads_to_be_paid > 0 %}
<h2>Overheads to be paid this month: {{money.overheads_to_be_paid / 100 }} left to pay of {{money.user_overheads / 100}}</h2>
{% else %}
<h2>Overheads for this month are paid.</h2> <p>For next months overheads: {{money.user_overheads / 100 - money.overheads_to_be_paid * -1 / 100 }} left to pay of {{money.user_overheads / 100}}</p>
{% endif %}
<h2>Disposable Income: {{money.disposable_income / 100}}</h2>
<h3>Income this month: {{money.income_this_month / 100}}</h3>
<h3>Tax to set aside: {{money.tax_to_set_aside / 100}}</h3>
<h3>Suggested savings amount: {{money.suggested_savings_amount / 100}}</h3>
<p>Total amount spent this month: {{money.spent_this_month / 100}}</p>
<p>Amount spent on overheads: {{money.spent_on_overheads / 100}}</p>
<p>Amount spent on extras: {{money.spent_on_extras / 100}}</p>
{% if money.user_notes != '' %}
<p>User notes : </p>
<div>
    <p class="profile-notes">"{{ money.user_notes }}"</p>
</div>
<form action="{{ url_for('edit_note') }}" method="GET">
    <button type="submit" class="btn btn-manage">Edit Note</button>
</form>
{% else %}
<form action="{{ url_for('create_note') }}" method="POST" class="form-left">
    <label for="create_note">Create A Note: </label>
    <textarea name="create_note" id="create_note" cols="30" rows="10" class="textarea-left"></textarea>
    <button type="submit" class="btn btn-manage">Create Note</button>
</form>
{% endif %}
<a href="{{url_for('invoice')}}" class="a-btn btn-in">Manage Invoices/Income</a>
<a href="{{ url_for('expenses')}} "class="a-btn btn-out">Manage Expenses</a>
<a href="{{ url_for('user_history')}} "class="a-btn btn-manage">User History</a>
<a href="{{ url_for('end_tax')}} "class="a-btn btn-manage">End Your Tax Period</a>
<a href="{{ url_for('wishlist')}}" class="a-btn btn-manage">Wishlist</a>
<a href="{{ url_for('reward') }}"class="a-btn btn-manage">Reward</a>

{% endblock %}

