{% extends "base.html" %}

{% block content%}

<h2>{{ user | title}}'s Money</h2>

<h1>Credit: {{ money.credit }}</h1>
{% if money.overheads_to_be_paid > 0 %}
<h2>Overheads to be paid this month: {{money.overheads_to_be_paid}} left to pay of {{money.user_overheads}}</h2>
{% else %}
<h2>Overheads for this month are paid.</h2> <p>For next months overheads: {{money.user_overheads - money.overheads_to_be_paid * -1 }} left to pay of {{money.user_overheads}}</p>
{% endif %}
<h2>Disposable Income: {{money.disposable_income}}</h2>
<h3>Income this month: {{money.income_this_month}}</h3>
<h3>Tax to set aside: {{money.tax_to_set_aside}}</h3>
<h3>Suggested savings amount: {{money.suggested_savings_amount}}</h3>
<p>Total amount spent this month: {{money.spent_this_month}}</p>
<p>Amount spent on overheads: {{money.spent_on_overheads}}</p>
<p>Amount spent on extras: {{money.spent_on_extras}}</p>
<a href="{{url_for('invoice')}}" class="a-btn btn-in">Manage Invoices/Income</a>
<a href="{{ url_for('expenses')}} "class="a-btn btn-out">Manage Expenses</a>
<a href="{{ url_for('user_history')}} "class="a-btn btn-manage">User History</a>
<a href="{{ url_for('deductibles')}} "class="a-btn btn-manage">Tax Deduction Checklist And Calculator</a>
<a href="{{ url_for('wishlist')}}" class="a-btn btn-manage">Wishlist</a>
<a href="{{ url_for('reward') }}"class="a-btn btn-manage">Reward</a>

{% endblock %}

