{% extends "base.html" %}

{% block content%}

<h3>Register Here</h3>


<form action="{{url_for('register') }}" method="POST">
    <div class="register-card">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5-15}$" required>
        <label for="password">Create Password</label>
        <input type="password" name="password" pattern="^[a-zA-Z0-9]{5-15}$" minlength="5" maxlength="15" id="password" required>
        <label for="starting-credit">Enter Your Starting Credit</label>
        <input type="number" name="starting-credit" id="starting-credit" pattern="[0-9]+"  step="0.01" title="Please input numbers only." required>
        <label for="user-overheads">Recurring Monthly Costs (rent + electricity... etc) </label>
        <input type="number" name="user-overheads" id="user-overheads" pattern="[0-9]+"  step="0.01" title="Please input numbers only." >
        <label for="tax_rate">Your tax rate in percent</label>
        <input type="number" name="tax_rate" id="tax_rate" pattern="[0-9]+" title="Please input two numbers." placeholder="Default is 21%">
        <button type="submit" class="btn btn-in">Register</button>

    </div>
</form>
<a href="{{url_for('login')}}" class="a-btn btn-in">Already a member? Log In, Inshallah!</a>

{% endblock %}

