{% extends "base.html" %}
{% block content %}
<h2>Rewards page</h2>

<img src="{{ url_for('image', filename=[user_reward.img])}}" style="max-width: 100px" alt="">
<h1>{{img }}</h1>
{% if user_reward.caption %}
    <p>"{{ user_reward.caption }}"</p>
{% endif %}
{% if user_reward %}
<a href="{{ url_for('add_reward') }}" class="btn btn-manage">Change Your Reward Image</a>
<p>Please note that your old one will be deleted.</p>
{% else %}
<a href="{{ url_for('add_reward') }}" class="btn btn-in">Add An Inspiring Image To Remind You Of Your Goals</a>
{% endif %}

{% endblock %}
