{% extends "base.html" %}

{% block content%}

<h2>{{ current_month.name | title}}'s Settings</h2>


<form action="{{url_for('change_overheads')}}" method="POST" style="flex-direction: row;">
    <label for="new_overheads"></label>
    <input type="number" name="new_overheads" id="new_overheads" pattern="[0-9]+"  step="0.01" title="Please input numbers only." placeholder="Currently: {{ current_month.user_overheads / 100}}">
    <button type="submit" class="btn btn-manage">Change Your Monthly Overheads</button>
</form>
<br><br>
<form action="{{url_for('change_tax_rate')}}" method="POST" style="flex-direction: row;">
    <label for="new_tax_rate"></label>
    <input type="number" name="new_tax_rate" id="new_tax_rate" pattern="[0-9]+"  step="0.01" title="Please input two numbers." placeholder="Currently: {{ session['tax_rate'] - 100 }}%" >
    <span>%</span><button type="submit" class="btn btn-manage">Change Your Tax Rate</button>
</form>

<form action="{{ url_for('change_theme') }}" method="POST">
    <!-- <input type="checkbox" name="change_theme" id="change_theme"> -->
    <button type="submit" class="btn btn-manage">Toggle Theme Light/Dark</button>

</form>
<a href="{{url_for('delete_account')}}" class="a-btn btn-out">Delete Account</a>

{% endblock %}

