{% extends "base.html" %}

{% block content%}

<h2 class="underline">Your Wishlist</h2>

<!-- displays a users wishlist -->

{% if wishlist %}

    {% for wish in wishlist %}
        <br>
        <div class="wish">

            <p class="text-medium underline">{{ wish.wish_name | title}}</p>
            <p class="text-small">{{ wish.wish_cost / 100}} EU</p class="text-medium">
            <p class="text-small">"{{wish.wish_description}}"</p>

<!-- checks if the wish is affordable or not -->

            {% if wish.is_affordable %}
                <p class="text-small">Is affordable!</p>
                {% else %}
                <p class="text-small">Is not affordable.</p>
            {% endif %}

<!-- gives the user some controls over the wishes -->

            <form action="{{ url_for('edit_wish', wish=wish._id) }}" method="GET">
                <button type="submit" class="btn btn-manage">Edit Wish</button>
            </form>
            <form action="{{ url_for('delete_wish', wish=wish._id) }}" method="POST">
                <button type="submit" class="btn btn-out">Delete Wish</button>
            </form>

        </div>
        <br>

    {% endfor %}

{%endif %}

<!-- form to add a new wish -->

<form action="{{ url_for('add_wish') }}" method="POST">
    <div class="register-card">
        <p class="text-medium">Add A New Wish</p>
        <label for="wish_name">Item Name</label>
        <input type="text" name="wish_name" id="wish_name" pattern="^[a-zA-Z0-9]{1-50}$" required>
        <label for="wish_cost">Cost of Wished For Item</label>
        <input type="number" name="wish_cost" id="wish_cost" pattern="[0-9]+" step="0.01" title="Please input numbers only." required>
        <label for="wish_description">Description Of Wish</label>
        <textarea name="wish_description"id="wish_description" ></textarea>    
        <button type="submit" class="btn btn-in">Add New Wish</button>

    </div>
    
</form>

{% endblock %}

